# OS
.DS_Store
Thumbs.db
*.swp

# Editor
.vscode/
.idea/
*.sublime-*

# Logs
*.log
npm-debug.log*

# Dependencies (varsa ileride)
node_modules/

# Build artifacts
dist/
build/

# Local env
.env
.env.local
